[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=OSMemo
Exec=invoker --single-instance --type=e /opt/osm-notebook/bin/osm-notebook
Icon=/usr/share/icons/hicolor/80x80/apps/osm-notebook.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
